<!DOCTYPE html>
<html>
  <head>
    <title>Mstest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Marley Spoon Test</a>
    </div>
  </nav>
  <%= yield %>
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Marley Spoon Test</p>
    </div>
    <!-- /.container -->
  </footer>
  </body>
</html>
